<main class="todo-container">
  <div class="add-task">
    <input [(ngModel)]="newTask" placeholder="Enter new task"/>
    <button class="button add-button" (click)="addTask()">Add</button>
  </div>


  <ul class="task-list">
    @for (todoItem of todoList; track todoItem.id; let i = $index) {
      <li>
        <input
          type="checkbox"
          (change)="toggleCompleted(i)"/>

        @if (!todoItem.isEdting) {
          <span class="task-text" [class.completed]="todoItem.completed">{{ todoItem.task }}</span>
        } @else {
          <input class="task-text"
                 [(ngModel)]="todoItem.task"
                 (keyup.enter)="toggleEdit(todoItem)"/>
        }

        <button class="edit-button" (click)="toggleEdit(todoItem)">Edit</button>
        <button class="delete-button" (click)="deleteTask(todoItem.id)">Delete</button>
      </li>
    }
  </ul>

</main>

